.container {
    background-color: #b2b2b2;
}

header {
    padding: 0.625rem 0.625rem 0 0.625rem;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #b2b2b2;
}

footer {
    padding: 0.625rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 0.625rem;
}