.content {
    background-color: #ffffff;
    margin: 0.625rem;
    margin-right: 0.625rem;
    border-radius: 0.3125rem;
}

#filter {
    margin: 1.25rem;
    font-weight: bold;
    padding-top: 0.9375rem;
}

#headings {
    border-bottom: 1px #bebebe;
    margin: 1.25rem;
    text-align: center;
}

#headings span{
    position:relative;
    display: inline-block;
    border-bottom: 1px solid #bebebe;
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    justify-content: space-between;
  }
  
  .button {
    width: 40%;
    background-color: #90EE90;
    margin: 0.5rem;
    border-radius: 0.625rem;
  }

  .button:hover {
    background-color: #00FF00;
  }

  .active-button {
    background-color: #00FF00;
  }

