<div class="content">
    <div id="filter">Filters</div>
    <div id="headings">
        <span>Launch Year</span>
    </div>
    <div class="categories">
        <button class="button" id="button_{{year}}" (click)="getYearFilteredData($event)" *ngFor="let year of years" >{{ year }}</button>
    </div>
    <div id="headings">
        <span>Successful Launch</span>
    </div>
    <div class="categories">
        <button class="button" (click)="getLaunchFilteredData($event)" *ngFor="let option of options" >{{ option }}</button>
    </div>
    <div id="headings">
        <span>Successful Landing</span>
    </div>
    <div class="categories">
        <button class="button" (click)="getLandingFilteredData($event)" *ngFor="let option of options" >{{ option }}</button>
    </div>
</div>
